body{
margin: 0;
padding: 40px;
font-family: monospace;
background: linear-gradient(130deg, #d7daff, #e6edff);
}

.okvir{
max-width: 900px;
margin: auto;
background-color: white;
padding: 30px;
border-radius: 20px;
box-shadow: 10px 15px rgba(0,0,0,0.15);
}

h1{
text-align: center;
text-transform: uppercase;
letter-spacing: 2px;
margin-bottom: 25px;
color: #7b1e2b;
}

table{
width: 100%;
border-collapse: collapse;
border-radius: 15px;
overflow: hidden;
box-shadow: 6px 6px 12px rgba(0,0,0,0.15);
}

th, td{
padding: 12px;
text-align: center;
border: 1px solid #d7daff;
}

th{
background: linear-gradient(120deg, #ffcc66, #ff9933);
color: #3a1b0f;
text-transform: uppercase;
}

tr{
transition: 0.25s;
}

tr:hover{
background-color: #f3e5d0;
transform: scale(1.01);
}

.najdraza{
background-color: #fff3cd;
border: 2px solid crimson;
}

.ocjena{
font-weight: bold;
color: #c62828;
transition: 0.25s;
}

.ocjena:hover{
color: #000;
background-color: #ffd6c9;
}